.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  width: 100%;
  height: 5vh;

  background-color: #191c1f;
}

.mediaContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    /* margin: 2vw; */
}

.link {
  display: flex;
  padding-right: 10px;

  color: var(--yellow);

  text-decoration: none;
}

.link:hover {
  color: var(--orange);
}
