.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 45%;

  background-color: var(--darkblue);

  border-radius: 1em;
}

.textRegular,
.textHeader {
  text-align: center;

  font-size: larger;

  margin: 0;
  padding: 8px;
}

.textLink {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;


  color: var(--yellow);

  margin: 0;
  padding: 0;
}

.textLink:hover, .apiText:hover {
  color: var(--darkblue);
}


.textImage {
    display: block;
    width: 25px;
}

.apiText {
  color: rgba(34,211,238);
}
