.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* width: 80vw; */

  margin-bottom: 2vw;
}

.infoSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  width: 80%;

  margin: 0;
  padding: 0;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 40%;

  /* background-color: var(--darkblue); */

  border: 1px solid hsla(0, 0%, 51%, 0.25);
  border-radius: 1em;
}

.textRegular,
.textHeader {
  text-align: center;

  font-size: larger;

  margin: 0;
  padding-top: 8px;
}

.textRegular {
  padding: 8px;
}

.textLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;

  color: var(--blue-lighter);

  margin: 0;
  padding: 0;
}

.textLink:hover,
.apiText:hover,
.textLink:hover .apiText {
  color: var(--orange);
}

.textImage {
  display: block;
  width: 25px;
}

.apiText {
  padding: 0;
  color: rgba(34, 211, 238);
}

.blockName {
  /* font-family: "Nabla";
  font-size: 4em; */

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 2vw 0 2vw 0;

  font-size: 4rem;
  font-weight: 400;

  /* background: linear-gradient(180deg, var(--yellow) 30%, var(--blue-lighter) 95%); */
  /* background: var(--yellow); */
  /* -webkit-background-clip: text; */
  /* background-clip: text; */

  /* color: transparent; */
}

.textDecorator {
  color: var(--yellow);

  padding-left: 1vh;
}

p {
  margin: 0;
}

@media (max-width: 500px) {
  .infoSection {
    flex-direction: column;
  }

  .infoBlock {
    width: 100%;
    margin-bottom: 5vw;
  }

  .textRegular,
  .textHeader {
    font-size: 1rem;
  }

  .blockName {
    font-size: 3em;
  }
}