.trackSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 0 2vw 0;
}

.load {
  position: absolute;

  top: 40%;

  animation: spinnner 1s infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180);
  }

  100% {
    transform: rotate(0);
  }
}
