:root {
  --main-dark: #191c1f;
  --main-dark-lighter: #343a40;
  --blue: #007bff;
  --blue-lighter: #0182ff;
  --darkblue: #061431;
  --main-white: #fafcff;
  --light-grey: #f8f9fa;
  --green: #28a745;
  --red: #dc3545;
  --secondary-grey: #6c757d;
  --yellow: #ffc107;
  --orange: #fd7e14;
  --pink: #e83e8c;
  --purple: #6f42c1;
  --indigo: #6610f2;
}

header {
  display: flex;
  flex-direction: row;
  position: sticky;

  top: 0;

  width: 100%;
  min-height: 5vh;

  background-color: var(--darkblue);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}

.link {
  display: flex;
  padding-right: 10px;

  color: var(--blue);

  text-decoration: none;
}

.link:hover {
  color: var(--yellow)
}

.link:first-child {
  padding-left: 5px;
}

.active {
  font-size: large;
  color: var(--yellow);
}

.main {
  display: flex;
  justify-content: center;
  height: auto;

  color: white;

  /* background-color: var(--darkblue); */
  background: linear-gradient(180deg, var(--darkblue), black 35%);
}

footer {
  display: flex;
  align-self: flex-end;

  color: white;
  background-color: var(--darkblue);
}

.white {
  background-color: azure;
}

.blackHeader {
  background-color: black;
}