.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;

  width: 80%;
  /* height: max-content; */

  padding: 0;
  margin-top: 2vw;
}

.infoSection {
  display: flex;
  flex-direction: row;
  justify-content: center;

  /* height: 18vh; */
  width: 80%;

  padding: 0;

  margin-bottom: 2vw;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 160px;

  /* background-color: var(--darkblue); */

  /* border: 1px solid hsla(0, 0%, 51%, 0.25); */
  /* border-radius: 1em; */

  margin: 0 24px 0 24px;
}

.infoBlock:first-child {
  margin-left: 0;
}

.infoBlock:last-child {
  margin-right: 0;
}

.textRegular,
.textHeader {
  display: flex;
  text-align: center;
  justify-content: flex-start;

  font-size: large;

  padding: 8px;
  margin: 0;
}

.textLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;

  color: var(--yellow);

  margin: 0;
  padding: 0;
}

.textLink:hover,
.apiText:hover,
.textLink:hover .apiText {
  color: var(--orange);
}

.textImage {
  display: block;
  width: 25px;
}

.apiText {
  padding: 0;
  color: rgba(34, 211, 238);
}

.blockName {
  font-family: "Nabla";
  font-size: 4em;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 2vw 0 2vw 0;
}

p {
  margin: 0;
}

.reactLogo {
  color: rgb(20 158 202);

  width: 80px;
  height: 90px;

  padding: 8px;

  user-select: none;
}

.imgLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 90px;

  padding: 8px;

  user-select: none;
}

.imgLogoRouter {
  width: 80px;

  padding: 8px;

  user-select: none;
}

.textArea {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 2vw 0 2vw 0;

  font-size: 4rem;
  font-weight: 400;

  /* color: var(--yellow); */
}

p {
  margin: 0;
}

@media (max-width: 500px) {
  .infoSection {
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 0;
  }

  .infoBlock {
    width: 100%;
    /* height: 1vh; */
    margin: 0 0 5vw 0;
  }

  .textRegular,
  .textHeader {
    font-size: 1rem;
  }

  .textArea {
    font-size: 3em;
  }
}